<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
  <div :style="{fontSize:fontSize}" class="">styletext</div>
  <div :class="{active:isActive}">おおお</div>
  <div v-show="isDisplay">表示</div>
  <div v-show="!isDisplay">非表示</div>
  <div v-if="isDisplay">if表示</div>
  <div v-if="signal === 'red'">赤</div>
  <div v-else-if="signal=== 'yellow'">黄色</div>
  <div v-else-if="signal=== 'blue'">青</div>
  <div v-else></div>

  </div>
  <script>
    let app = new Vue({
      el: "#app",
      data(){
       return{
         fontSize: '20px',
         isActive: false,
         isDisplay: true,
         signal: 'red'
       }
      }
    })
  </script>
  <style>
    .active{
      color: red;
    }
  </style>
</body>
</html>